aiohttp==3.7.4.post0
akinator.py==5.0.0
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
cloudscraper==1.2.58
discord==1.0.1
discord.py==1.7.2
idna==2.10
multidict==5.1.0
pixiv-api==1.0.0
psutil==5.8.0
pyparsing==2.4.7
requests==2.25.1
requests-toolbelt==0.9.1
timeago==1.0.13
typing-extensions==3.10.0.0
urllib3==1.26.5
yarl==1.6.3
